@using Sannsyn.Episerver.Commerce.Models.ViewModels
@inherits System.Web.Mvc.WebViewPage

@{
    
    var overviewModel = Model as SannsynOverviewViewModel;
    var serviceStatus = overviewModel.ServiceStatus;;
    Layout = "../_SannsynLayout.cshtml";
}

<div>
    <h1><span class="dijitInline dijitIcon epi-iconInfo epi-icon--medium"></span> Sannsyn Overview</h1>
    <div>
        <table>
            <tr>
                <td>Status</td>
                <td>@serviceStatus.status</td>
            </tr>
            <tr>
                <td>
                    Number of entities
                </td>
                <td>@serviceStatus.numEntities</td>
            </tr>
            <tr>
                <td>Service</td>
                <td>@serviceStatus.serviceName</td>
            </tr>
            <tr>
                <td>Configuration</td>
                <td>@serviceStatus.configurationName</td>
            </tr>
            <tr>
                <td>Service</td>
                <td>@serviceStatus.ServiceRunningSince</td>
            </tr>
        </table>
    </div>
    <h2>Current User Recommendations</h2>
    <div>Current User: @overviewModel.CurrentUserId</div>
    <div>Recommender: @overviewModel.CurrentUserRecommendations.RecommenderName</div>
    <ul>
        
        @foreach (var code in overviewModel.CurrentUserRecommendations.ProductCodes)
        {
            <li>@code</li>
        }
    </ul>
    
</div>